.section-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-part {
  /* margin-right: 120px; */
  text-align: center;
}

.footer-logo {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}

.footer-social-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.footer-social-link-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-link-item {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:hover,
.footer-social-link-item:focus {
  background-color: #31d0aa;
}

.footer-subscribe-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* .footer-subscribe-part {
  margin-left: 83px;
} */

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
}

.input-subscribe-email {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 288px;
  height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subscribe-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.input-subscribe-email:focus {
  border-color: #31d0aa;
  outline: none;
  color: #ffffff;
}

.subscribe-button {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: left;
    gap: 72px 24px;
    padding: 0 108px;
  }

  .footer-logo-part {
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-subscribe-text {
    text-align: left;
  }

  .subscribe-wrapper {
    display: flex;
    flex-direction: row;
  }

  .input-subscribe-email {
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 15px;
  }

  .footer-logo-part {
    margin-right: 120px;
  }

  .footer-text {
    color: #f4f4fd;
    max-width: auto;
  }

  .footer-social-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }

  .footer-social-link-list {
    display: flex;
    gap: 16px;
  }

  .footer-subscribe-part {
    margin-left: 83px;
  }

  .subscribe-wrapper {
    display: flex;
  }

  .input-subscribe-email {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }

  .subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
