.section-hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: 0 auto;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-m@2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-color: #2e2f42;
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    margin: 0 auto;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url(../images/hero-t@2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 36px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url(../images/hero@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
