.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 288px;
  max-height: 623px;
  position: relative;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  background-color: #e7e9fc;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 72px;
  margin-bottom: 16px;
}

.input-wrapper {
  margin-bottom: 8px;
}

.form-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-svg-wrapper {
  position: relative;
}

.text-input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #fcfcfc;
  padding-left: 38px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper-comment {
  margin-bottom: 16px;
}

.comment-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: #fcfcfc;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-input:focus,
.comment-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}

.text-input:focus + .form-icon {
  fill: #4d5ae5;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: baseline;
}

.native-checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
}

.native-checkbox:focus + .checkbox-label .custom-checkbox {
  border-color: #4d5ae5;
}

.native-checkbox:checked + .checkbox-label .checkbox-icon {
  opacity: 1;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.checkbox-accent {
  color: #4d5ae5;
  line-height: 16px;
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    max-height: 584px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
}
