:root {
  --main-color: #4d5ae5;
  --white-color: #ffffff;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  /* 
  outline: 2px solid red;
  outline-offset: -2px; */
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.header-logo {
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: var(--anim-fast);
  transition-property: color;
}
.nav-link.current {
  color: var(--main-color);
  position: relative;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-color);
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: none;
}

.contacts-link {
  padding: 0;
  color: #434455;
  transition: var(--anim-fast);
  transition-property: color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    align-items: center;
    row-gap: 12px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }
  .contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    font-size: 16px;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-color);
}
.burger-menu {
  border: none;
  background-color: transparent;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_mobile_1x.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 88px;
  padding-bottom: 88px;
  max-width: 320px;
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_mobile_2x.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_tablet_1x.jpg");

    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_tablet_2x.jpg");
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_desktop_1x.jpg");
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_desktop_2x.jpg");
  }
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 64px;
  }
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition: var(--anim-fast);
  transition-property: background-color;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-color);
}

.values-list {
  display: flex;
  align-items: center;
  gap: 72px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .values-item {
    width: calc((100% - 24px) / 2);
  }
  .values-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .values-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .values-list {
    gap: 24px;
  }
}

.values-item-icon-wrapper {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .values-item-icon-wrapper {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
  }
}
.values-item-icon {
}
.values-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .values-item-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .values-item-title {
    font-weight: 500;
    font-size: 20px;
    font-size: 36px;
    line-height: 1.2;
  }
}
.values-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .values-item-text {
    font-weight: 400;
  }
}

.our-team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  /* gap: 24px; */
  gap: 72px;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .our-team > .container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .our-team > .container {
    padding: 0 15px;
  }
}

.team-item-container {
  padding: 32px 0 32px;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-list-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-item-socials {
  width: 40px;
  height: 40px;
}
.link-socials {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--anim-fast);
  transition-property: ackground-color;
}
.link-socials:hover,
.link-socials:focus {
  background-color: var(--main-color);
}
.icon-socials {
  fill: #f4f4fd;
}
.team-item {
  background-color: var(--white-color);

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  gap: 48px 24px;
  flex-direction: column;
}
.portfolio-item {
  transition: var(--anim-fast);
  transition-property: box-shadow;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translatey(100%);
  transition: var(--anim-fast);
  transition-property: transform;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: left;
    gap: 72px 24px;
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .page-footer .container {
    flex-wrap: nowrap;
    padding: 0 15px;
    gap: 0;
  }
}
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-start {
    margin-right: 120px;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: left;
}

.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-list-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-link-socials {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--anim-fast);
  transition-property: background-color;
}
.footer-link-socials:hover,
.footer-link-socials:focus {
  background-color: #31d0aa;
}
.footer-icon-socials {
  fill: #f4f4fd;
}

@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.form-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .form-subscribe {
    gap: 24px;
    flex-direction: row;
  }
}
.footer-subscribe-email {
  border: 1px solid var(--white-color);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: var(--anim-fast);
  transition-property: border-color;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
@media only screen and (min-width: 768px) {
  .footer-subscribe-email {
    width: 264px;
  }
}
.footer-subscribe-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.footer-subscribe-email:focus {
  border-color: var(--main-color);
}
.button-subscribe {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-color);
  border: none;
  transition: var(--anim-fast);
  transition-property: background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-wrapper {
}
.footer-icon-letter {
  fill: var(--white-color);
  margin-left: 16px;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--main-color);
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--anim-fast);
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;

  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  padding: 72px 16px 16px 24px;
  transition: var(--anim-fast);
  transition-property: transform;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.close-modal {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: var(--anim-fast);
  transition-property: background-color, border;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.close-modal-icon {
  transition: var(--anim-fast);
  transition-property: fill;
}
.close-modal:hover,
.close-modal:focus {
  background-color: var(--main-color);
  border: none;
}
.close-modal:hover .close-modal-icon,
.close-modal:focus .close-modal-icon {
  fill: var(--white-color);
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  width: 100%;
}
.form-field {
  margin-bottom: 8px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 38px;
  padding-bottom: 11px;
  padding-left: 38px;
  outline: transparent;
  transition: var(--anim-fast);
  transition-property: border-color;
  background-color: transparent;
}
.form-icon-input {
  transition: var(--anim-fast);
  transition-property: fill;
}
.form-input:focus {
  border-color: var(--main-color);
}
.form-input:focus + .form-icon-input {
  fill: var(--main-color);
}
.form-field-wrapper {
  position: relative;
}
.form-icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.form-area-field {
  margin-bottom: 16px;
}
.comment-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.comment-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  resize: none;
  display: block;
  transition: var(--anim-fast);
  transition-property: border-color;
  outline: transparent;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}
.comment-input:focus {
  border-color: var(--main-color);
}
.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-agreement {
  margin-bottom: 24px;
}
.agreement-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}

.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  border-radius: 2px;
  transition: var(--anim-fast);
  transition-property: background-color, border, fill;
}

#user-privacy:checked + .agreement-label > .agreement-checkbox {
  background-color: var(--main-color);
  border: none;
  fill: #f4f4fd;
}

#user-privacy:focus-visible + .agreement-label .agreement-checkbox {
  box-shadow: 0 0 0 1px rgb((46 47 66) / 45%);
}
.form-button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--main-color);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  outline: transparent;
  border: none;
  transition: var(--anim-fast);
  transition-property: background-color;
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--main-color);
}
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: var(--white-color);
  z-index: 100;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  visibility: hidden;
  transition: var(--anim-fast);
  transition-property: transform, visibility;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}

.mobile-menu-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.mobile-nav-link {
  display: block;
  padding: 20px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-link.current {
  color: var(--main-color);
}
.mobile-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-link {
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.mobile-contacts-link.current {
  color: var(--main-color);
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.list-socials-mobile {
  gap: 40px;
}
