.section-team {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.section-team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-team-item:not(:last-child) {
  margin-bottom: 72px;
}

.container-team-text {
  padding: 32px 16px;
}

.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section-team-text {
  text-align: center;
}

.team-social-link-list {
  display: flex;
  gap: 24px;
}

.team-social-link-item {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 40px;
  padding: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-item:hover,
.team-social-link-item:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-team-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .section-team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team-list {
    display: flex;
    gap: 24px;
  }

  .section-team-item {
    width: calc((100% - 72px) / 4);
  }
}
